*, *::after, *::before {
    box-sizing: border-box;
}

:root {

}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Audiowide', cursive;
    font-size: 1.3rem;
}

.screen {
    position: fixed;
    display: none;
    height: 100vh;
    width: 100vw;
}

.screen.screen--show {
    display: block;
}

.screen--start {
    overflow: scroll;
}

.screen--start .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.screen--start h1 {
    font-size: 3rem;
    margin: 0;
}

.screen--start input[type="text"] {
    padding: 10px 15px;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 3px solid white;
    font-family: 'Audiowide', cursive;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.screen--start input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.521);
}

.screen--start button {
    color: black;
    background-color: white;
    font-family: 'Audiowide', cursive;
    font-size: 1rem;
    padding: 1.2rem 5rem;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 2rem;
    cursor: pointer;
}

.screen--start button:hover {
    border-color: white;
    background-color: black;
    color: white;
}

.screen--round {
    z-index: 2;
}

.screen--round .container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
    z-index: 1;
}

.screen--round.animating .container {
    opacity: 1;
    animation: new-round 2s ease-out forwards;
}

@keyframes new-round {
    0% {
        /* opacity: 1; */
        font-size: 1rem;
    }
    50% {
        font-size: 5rem;
    }
    100% {
        font-size: 1rem;
    }
}

.screen--board .container {
    display: grid;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-columns: 100vw;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
    position: relative;
}

.board::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
}

.board::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5px;
}

.board__cell {
    background-color: black;

    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
   
    cursor: not-allowed;
    pointer-events: none;
}

.board__cell.board__cell--x {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L98.3736 98.3736' stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M98.3735 1.5L1.49991 98.3736' stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.board__cell.board__cell--o {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='48.5' stroke='%23ffffff' stroke-width='3'/%3E%3C/svg%3E");
}

.board.board--human-turn .board__cell.board__cell--empty {
    cursor: pointer;
    pointer-events: auto;
}

.board.board--human-turn.x .board__cell.board__cell--empty:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L98.3736 98.3736' stroke='%23ffffff55' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M98.3735 1.5L1.49991 98.3736' stroke='%23ffffff55' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.board.board--human-turn.o .board__cell.board__cell--empty:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='48.5' stroke='%23ffffff55' stroke-width='3'/%3E%3C/svg%3E");
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score h1 {
    margin: 15px;
    font-size: .85rem;
}