*, *::after, *::before {
    box-sizing: border-box;
}

:root {
  --board-size: 600px; 
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Audiowide', cursive;
}

.screen {
    display: none;
    height: 100vh;
    width: 100vw;
}

.screen.screen--show {
    display: flex;
}

.screen--board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board__external-border {
    position: relative;
}

.board__external-border::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.board__external-border::after {
    content: '';
    width: 5px;
    height: 100%;
    background-color: black;
    top: 0;
    right: 0;
    position: absolute;
}

.board {
    width: var(--board-size);
    height: var(--board-size);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.board::before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: black;
    top: 0;
    position: absolute;
}

.board::after {
    content: '';
    width: 100%;
    height: 5px;
    background-color: black;
    bottom: 0;
    position: absolute;
}

.board__cell {
    border: 5px solid white;
    width: calc(var(--board-size) / 3);
    height: calc(var(--board-size) / 3);

    font-size: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    pointer-events: none;
}

.board.board--human-turn .board__cell.board__cell--empty {
    cursor: pointer;
    pointer-events: auto;
}

.board.board--human-turn .board__cell.board__cell--empty:hover {
    background-color: red;
}
