*, *::after, *::before {
    box-sizing: border-box;
}

:root {
  --board-size: 60vw; 
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Audiowide', cursive;
}

.screen {
    display: none;
    height: 100vh;
    width: 100vw;
}

.screen.screen--show {
    display: grid;
}

.screen--board {
    display: grid;
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-columns: 100vw;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.board__cell {
    background-color: black;

    font-size: 5em;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
   
    cursor: not-allowed;
    pointer-events: none;
}

.board.board--human-turn .board__cell.board__cell--empty {
    cursor: pointer;
    pointer-events: auto;
}

.board.board--human-turn .board__cell.board__cell--empty:hover:before {
    color: rgba(255, 255, 255, .3);
}

.board.board--human-turn.x .board__cell.board__cell--empty:hover:before {
    content: 'x';
}

.board.board--human-turn.o .board__cell.board__cell--empty:hover:before {
    content: 'o';
}
